mat-select{
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-family: 'Livvic', sans-serif;
    padding: 8px;
}
mat-option{
    font-family: 'Livvic', sans-serif;
    text-align: center;

}